.expenses{
    background-color:crimson;
    margin:2rem auto;
    box-shadow:12px;
    box-shadow:2px 5px 1px black;
    border: 2px solid black;
    border-radius: 5px;
    width:50rem;
    padding:1rem;
   
    

}